build/
NebulaPy.egg-info/
.idea/
tests/*.txt
NebulaPy-DB/
dist/
Research/*.txt
Research/cmfgen_z086-wo-mdot50/
Research/powr_mw-ob-i_mdot50/
silo-4.11.1-bsd-smalltest.tar.xz
silo-4.11.1-bsd-smalltest/
silo-4.11.1-bsd/**
*.log
.DS_Store
__pycache__/
*.py[cod]
nebulapy-db-*/
nebulapy-db-*.tar.xz
nebulapy-db-*.tar.xz.sha256
nebulapy-db-*.zip
nebulapy-db-*.zip.sha256
