build/
NebulaPy.egg-info/
.idea/
tests/*.txt
NebulaPy-DB/
dist/
Research/*.txt
Research/cmfgen_z086-wo-mdot50/
Research/powr_mw-ob-i_mdot50/
silo-4.11.1-bsd-smalltest.tar.xz
silo-4.11.1-bsd-smalltest/
silo-4.11.1-bsd/**
*.log
